html {
  margin: 0 auto;
  font-size: 20px;
}

body {
  background-color: #FFD1AA;
  color: #0D4D4D;
  font-family: "Arsenal", sans-serif;
  line-height: 1.4;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

h4 {
  color: #003333;
  font-size: .8rem;
  font-weight: 700;
}

p {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
}

.container60 {
  width: 60%;
}

.container40 {
  width: 40%;
}

header {
  background-color: #FFD1AA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 3.2rem;
  width: 100%;
  padding: .8rem 1.2rem;
  font-size: 1.2rem;
  margin: 0;
}

header a {
  color: #003333;
}

.logo {
  display: flex;
}

nav {
  padding: 0 1.2rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0 1.2rem;
}

.navmobile {
  display: none;
}

li {
  padding-left: .8rem;
}

.colmaracademy {
  font-size: 1.2rem;
}

.colmar {
  color: #003333;
  font-weight: bold;
}

.academy {
  color: #D49A6A;
  font-weight: 400;
}

.banner {
  background-color: #669999;
  display: flex;
  padding-top: 4.8rem;
}

.bannerimage {
  padding-left: 1.2rem;
}

.bannerimage img {
  max-width: 95%;
  height: auto;
  margin: 1.6rem 1.2rem;
}

.bannertext {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 1.2rem;
}

.bannertextelement {
  padding: 1rem 0;
}

.bannerbutton {
  background-color: #003333;
  width: 80%;
  margin-top: 1.2rem;
  padding: .4rem 0;
  text-align: center;
}

.bannerbutton a {
  color: #D49A6A;
}

.aboutus {
  display: flex;
  flex-flow: row;
  padding: 1.6rem 0;
}

.practiceimage {
  display: flex;
  flex-flow: column;
  padding-left: 1.2rem;
}

.practiceimage img {
  max-width: 95%;
  height: auto;
}

.practicetext {
  margin: 1.6rem 0;
}

.practicetext p {
  margin: 1.2rem 0;
}

.infosection {
  display: flex;
  flex-flow: column;
}

.infoblock {
  display: flex;
  padding: .8rem;
}

.infoimage {
  height: auto;
}

.infoimagemobile {
  display: none;
}

.infotext {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 7.5rem;
  padding: 1.2rem;
}

.infotext a {
  color: #552600;
}

#infoblock3 {
  background-color: #669999;
  color: #003333;
}

.learningtitle {
  background-color: #407F7F;
  color: #003333;
  text-align: center;
  padding-top: 1.6rem;
}

.learning {
  background-color: #407F7F;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.6rem 3.6rem;
}

.learningblock {
  display: flex;
  flex-flow: column;
  max-width: 30%;
  margin-top: 1.6rem;
}

.learningimage {
  background-color: #804515;
  width: 100%;
  height: auto;
}

.learningimage img {
  max-width: 100%;
}

.learningtext {
  background-color: #804515;
  color: #FFD1AA;
  min-height: 9.3rem;
  padding: .8rem 0 1.2rem .8rem;
}

.learningtext h2 {
  margin-bottom: .4rem;
}

.learningtext p {
  margin-top: .4rem;
}

.thesistitle{
  text-align: center;
  margin: 1.6rem 0;
}

.thesis {
  display: flex;
}

.videosection {
  display: flex;
  flex-flow: column;
}

video {
  max-width: 100%;
  height: auto;
  margin: 0 1.2rem;
}

.videotext{
  margin-left: 1.2rem;
}

.videotext h2 {
  margin-top: 1.2rem;
}

.videotext p {
  margin-top: .4rem;
  margin-bottom: 1.6rem;
}

.moresection {
  display: flex;
  flex-flow: column;
}

.thesisbox {
  display: flex;
  min-height: 10rem;
}

#thesisbox1 {
  background-color: #669999;
  color: #003333;
}

.thesisimage {
  width: 35%;
  margin: .8rem;
}

.thesisinfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.dividingline {
  background-color: #669999;
  align-content: center;
  height: 1px;
  width: 98%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
  padding: .8rem 1.2rem;
  font-size: .8rem;
  border-top: 1px solid #552600;
}

@media only screen and (max-width: 640px) {

  .hideForMobile{
    display: none;
  }

  .container60,
  .container40 {
    width: 100%;
    margin: 0;
  }

  .navmobile {
    display: block;
    margin: auto;
    padding: 0;
  }

  .navmobile ul li {
    padding: 1rem;
  }

  .banner,
  .learning {
    flex-flow: column;
    margin: 0;
  }

  .bannerimage {
    padding: 0;
  }

  .bannerimage img {
    max-width: 100%;
    margin: 0;
  }

  .bannertext {
    margin-bottom: 1.6rem;
  }

  .bannertextelement {
    margin-left: .8rem;
  }

  .bannerbutton {
    margin: auto;
  }

  .infoblock {
    flex-flow: column;
  }

  .infoimage {
    display: none;
  }

  .infoimagemobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .learningblock {
    max-width: 100%;
    margin-top: .4rem;
  }

  .learningtext {
    background-color: #804515;
    min-height: 0;
  }

  video {
    margin: 0;
  }

}
